flask
https://github.com/RimuEirnarn/future_router/archive/main.tar.gz
sqlite-database
flask-login
python-dotenv
flask-wtf
wtforms[email]
bootstrap-flask
requests
pyjwt[crypto]
flask-restful
Flask-Limiter
faker