<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rimu Aerisya's Portfolio</title>

    {%- include "headers.html "%}
    {% from "macros/flash.html" import render_flashes %}
  </head>

  <body>
    {%- include "components/navbar.html" %}



    <!-- <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="/static/icons.png" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold text-body-emphasis">Your app</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Quickly design this app as soon as possible!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
      </div>
    </div> -->


    <div class="container col-xxl-8 px-4 py-5 hero">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/static/img/person.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <span class='fs-6'>Hey, I am Rimu Aerisya</span>
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">I create <span class='primary'>web
              applications</span></h1>
          <p class="lead">And more!</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href='/#contact' class="btn button btn-lg px-4 me-md-2">Get in touch</a>
          </div>
        </div>
      </div>
    </div>

    <div class='container margin-contact-end' id='skills'>
      <span class='mb-2 fs-6'>My Skills</span>
      <h2>My Expertise</h2>

    </div>
    <div class='d-flex justify-content-center margin-contact-end'>
      <div class="card me-2" style="width: 18rem;">
        <div class="box fs-4">
          <i class="bi bi-code-slash"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">I excel in Web Development</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="box fs-4">
          <i class="bi bi-code-slash"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Desktop App Development</h5>
          <p class="card-text">I excel in Desktop App Development</p>
        </div>
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5 hero" id='about'>
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-lg-6">
          <span class='fs-6'>About</span>
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About me</h1>
          <p class="lead">I'm a passionate third year student who trailblaze their path to Programming, Game
            Development, and Web development</p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/static/img/person2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>
      </div>
    </div>

    <div id="portfolio" class='container'>
      <div class='d-flex justify-content-between margin-contact-end'>
        <div>
          <span class='fs-6'>Recent Projects</span>
          <h2>My Portfolio</h2>
        </div>
        <div>
          <button class='btn button-dribble'>Visit My Dribble</button>
        </div>
      </div>

      <div class='d-flex justify-content-center margin-contact-end'>
        <div class="card me-2" style="width: 18rem;">
          <img src="/static/img/calculator.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Calculator</h5>
            <p class="card-text">A JavaScript Caltulator</p>
            <a href="https://github.com/RimuEirnarn/calculator" class='mt-2'>Visit source code</a>
            <a href="https://rimueirnarn.github.io/calculator">Visit app page</a>
          </div>
        </div>

        <div class="card me-2" style="width: 18rem;">
          <img src="/static/img/webapp.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">WebApp</h5>
            <p class="card-text">Simple web-to-app application that turns your website into an app</p>
            <a href="https://github.com/RimuEirnarn/calculator" class='mt-2'>Visit source code</a>
          </div>
        </div>

        <div class="card me-2" style="width: 18rem;">
          <img src="/static/img/trackrecord.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">RimuTrackRecord</h5>
            <p class="card-text">Record your financial income/expenses</p>
            <a href="https://github.com/RimuEirnarn/RimuTrack" class='mt-2'>Visit source code</a>
          </div>
        </div>
      </div>

      <div id="testimonials">
        <div class='d-flex justify-content-between margin-contact-end'>
          <div>
            <span class='fs-6'>Clients Feedback</span>
            <h2>Customer testimonials</h2>
          </div>
        </div>

        <div class="d-flex justify-content-center margin-contact-end">
          <div class="card p-2">
            <div class='d-flex justify-content-start p-2'>
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <div class="card-body">
              <p class="card-text">Rimu adalah programmer yang handal, saya rekomendasikan</p>
              <div class='d-flex justify-content-start'>
                <img src="/static/img/client0.png" alt="Agus Sentosa" class='rounded-circle'>
                <h4 class="card-title ms-3 pt-3">Agus Sentosa</h4>
              </div>
            </div>
          </div>
          <div class="card p-2">
            <div class='d-flex justify-content-start p-2'>
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <div class="card-body">
              <p class="card-text">Rimu adalah programmer yang handal, saya rekomendasikan</p>
              <div class='d-flex justify-content-start'>
                <img src="/static/img/client0.png" alt="Agus Sentosa" class='rounded-circle'>
                <h4 class="card-title ms-3 pt-3">Agus Sentosa</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    {%- include "components/contact.html" %}
    {%- include "components/footer.html" %}
  </body>

</html>